<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">

            <div class="d-flex justify-content-between mb-3">
                <div class="p-2">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search User....">
                </div>
                <div class="ml-auto p-2">
                    <a type="button" class="btn btn-dark" href='add-user'>New User</a>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name }}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email }}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.address?.addressLine1}},
                            {{user.address?.addressLine2}},
                            {{user.address?.city}},
                        </td>
                        <td>{{user.tasks?.length}} <i class="bi bi-pencil bg bg-primary p-2 m-1 text-light rounded-2"
                                [routerLink]="['/edit-user' ,user.id ]"></i> <i
                                class="bi bi-trash bg bg-danger text-light p-2 m-1 rounded-2"
                                (click)="onDelete(user.id )">
                            </i></td>
                        <!-- <td>
                            <i class="bi bi-pencil bg bg-primary p-2 m-1 text-light rounded-2"
                                [routerLink]="['/edit-user' ,user.id ]"></i> <i
                                class="bi bi-trash bg bg-danger text-light p-2 m-1 rounded-2"
                                (click)="onDelete(user.id )">
                            </i>
                        </td> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>